name: Dart Packages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  analyze-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages/dart/dev-see-logger-dart
          - packages/dart/dev-see-logger-dio-dart

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        working-directory: ${{ matrix.package }}
        run: dart pub get

      - name: Analyze
        working-directory: ${{ matrix.package }}
        run: dart analyze

      - name: Test
        working-directory: ${{ matrix.package }}
        run: dart test
